[submodule "libtojson"]
	path = libtojson
	url = https://github.com/DCCXXVI726/parserJson.git
[submodule "libft"]
	path = libft
	url = https://github.com/deladia/libft.git
[submodule "nuklear_cross"]
	path = nuklear_cross
	url = https://github.com/DeXP/nuklear_cross.git
